extend layouts/main

block content
    .container.results
        h2.text-center.animated#title &nbsp;
    
        .pure-g.hidden.animated
            .pure-u-1-2
                //- Graph

            .pure-u-1-2
                //- List            

        .pure-g.hidden.animated
            .pure-u-1-2
                //- Graph with number of voted and missing persons